<div>
  <a href = "/board"> Bulletin Board</a>
</div>

<hr>

<div>
  <h1> <%=@the_board.name%></h1>
</div>

<hr>

<div>
  <h2>Add Posts </h2>
</div>

<form action = "/modify_board/<%=@the_board.id %>" method = "post" >
  <div>
    <label for  = "title_box">
      Title
    </label>
    <input type = "text" id = "title_box" name = "title_query">
  </div>

  <div>
    <label for = "body_box">
      Body 
    </label>
    <input type = "text" id = "body_box" name = "body_query">
  </div>
  <div>
    <label for = "expire_box">
      Expires on
    </label>
    <input type = "text" id = "expire_box" name = "expire_box">
  </div>

  <button>
    Add post
  </button>
</form>

<table border = 1>
  <tr>
    <th>
      Title
    </th>

    <th>
      Body
    </th>

    <th>
      Posted on
    </th>

    <th>
      Expired on
    </th>
  </tr>

  <%@the_board.posts.each do |a_post|%>

    <tr>
      
        <td> 
          <%=a_post.title%>
        </td>

        <td> 
          <%=a_post.body%>
        </td>

        <td>
          <%=a_post.created_at%>
        </td>

        <td>
          <%=a_post.expires_on%>
        </td>
      </tr>
  <%end%>

</table>


</form>
<div>
  <div>
    <h2>
      Edit board
    </h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_board.name %>">
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>

<hr>
